<!DOCTYPE html>
<html lang=en>

<head>

    <title> {{.Page.Title}} </title>
    <link rel="shortcut icon" href="/images/favicon.ico" />


    {{ block "head" . }}
    {{ end }}

    {{ block "meta" . }}
    {{ end }}

    {{ partial "header/site-head.html" .}}


    {{ if .Site.Params.useMatomo }}

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//{{ .Site.Params.matomoURL }}/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', "{{ .Site.Params.matamoSiteId }}"]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->


    {{ end }}


</head>

<body>
    {{ partial "header/site-nav.html" .}}

    <br />
    <div class="container">

        {{ block "main" . }}
        {{ end }}
    </div>

    {{ partial "footer.html" .}}

    {{ block "endJS" . }}
    {{ end }}

</body>

</html>
